.wrapper-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  box-sizing: border-box;
}

.box-title {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.title-ask {
  font-size: 42px;
  color: #e5cfcf;
  letter-spacing: 1px;
  margin-top: 115px;
}

.btn-ask {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 120px;
  font-weight: bold;
  height: 50px;
  transition: 0.08s;
  border: none;
  background: $blueLight;
  border-radius: 10px;
  cursor: pointer;
  margin: 40px 5px;
  color: #e5cfcf;
  background: linear-gradient(
    90deg,
    red,
    orange,
    red,
    yellow,
    violet,
    purple,
    blue,
    red
  );
  background-size: 800%;
  border-radius: 20px;
  transform: translate(0%, -50%);
}
