<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSnake</title>
    <link rel="shortcut icon" href="../images/logo.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <a href="./user.html">Prev</a>
        <a href="./technologies.html">Next</a>
        <a href="../index.html">Home</a>
        <div class="problem-wrapp">
          <div class="our-problem">
            <ul class="problem-list">
              <li class="problem-item" style="--clr: #00ade1">
                <a class="problem-link" href="#" data-text="&nbsp;П"
                  >&nbsp;Проблема 1&nbsp;</a
                >
              </li>
              <li class="problem-item" style="--clr: #ff6492">
                <a class="problem-link" href="#" data-text="&nbsp;П"
                  >&nbsp;Проблема 2&nbsp;</a
                >
              </li>
              <li class="problem-item" style="--clr: #ffdd1c">
                <a class="problem-link" href="#" data-text="&nbsp;П"
                  >&nbsp;Проблема 3&nbsp;</a
                >
              </li>
              <li class="problem-item" style="--clr: #00dc82">
                <a class="problem-link" href="#" data-text="&nbsp;П"
                  >&nbsp;Проблема 4&nbsp;</a
                >
              </li>
              <li class="problem-item" style="--clr: #dc00d4">
                <a class="problem-link" href="#" data-text="&nbsp;П"
                  >&nbsp;Проблема 5&nbsp;</a
                >
              </li>
            </ul>
          </div>
          <div class="mobile-wrapper">
            <img
              class="image-mobile"
              src="../images/phone-cropped.svg"
              alt="phone"
              width="310"
            />
            <iframe
              src="https://annakrysenko.github.io/project-goit-js/"
              class="mobile"
            ></iframe>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
