<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSnake</title>
    <link rel="shortcut icon" href="../images/logo.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;800;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <a href="./team1.html">Prev</a>
        <a href="./user.html">Next</a>
        <a href="../index.html">Home</a>
        <div class="container-team">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <img
                  src="../images/logo.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Максим Коворотний</h3>
                <p>Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/MaxK.jpg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <div class="content">
                <img
                  src="../images/logo.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Василь Теглівець</h3>
                <p>Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/VasylT.jpeg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <div class="content">
                <img
                  src="../images/logo.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Андрій Єщенко</h3>
                <p>Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/AndriiY.jpg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <div class="content">
                <img
                  src="../images/logo.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Соловйов Олександр</h3>
                <p>Scrum-master/Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/OlSol.jpg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <script src="https://kit.fontawesome.com/95a02bd20d.js"></script> -->
      </div>
    </section>
  </body>
</html>
